<section class="section hero hero-request">
  <div class="container">
    <div class="row">
      <div class="">
        {{breadcrumbs}}
      </div>
    </div>
    <div class="row">
      <div>
        <h1 title="{{t 'my_requests'}}" class="request-title h1">{{t 'my_requests'}}</h1>
      </div>
    </div>
  </div>
</section>

<section class="section bg-subtle" style="padding-top: 0;">
  <div class="container">
    <div id="renderRequestList" class="requests-container"></div>
  </div>
</section>


<script type="module">
  import { renderRequestList } from "request-list"; 
  
  const container = document.getElementById("renderRequestList"); 
  //const settings = {{json settings}}; 



  const props = {   
    locale: {{json help_center.base_locale}},
    customStatusesEnabled: {{json help_center.custom_statuses_enabled}}
  }; 
  
  renderRequestList(props, container);
</script>
