<section class="section hero hero-category">
  <div class="container">
    <div class="row">
      <div class="">
        {{breadcrumbs}}
      </div>
    </div>
    <div class="row">
      <div>
        <h1 title="{{section.name}}" class="category-title h1">{{section.name}}</h1>
        {{#if section.description}}
          <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{search scoped=true submit=false class="search search-full search-transparent"}}
      </div>
    </div>
  </div>
</section>

